.MemberForm {
    display: block;
    margin-top: 6rem;
}

.MemberForm label {
    display: block;
    margin-bottom: 4rem;
    display: block;
}

.MemberForm input, .MemberForm select, button {

    border: 1px solid #ddd;
    line-height: 6rem;
    border-radius: 0.5rem;
    display: block;
    margin: 1rem 0 0 0;
    outline: none;
    font-size: 1.6rem;
    width: 100%;
    text-indent: 2rem;
}

.MemberForm select {
    height: 6rem;
}

.MemberForm button {
    border: none;
    background-color: purple;
    cursor: pointer;
    color: white;
    min-width: 30rem;
    text-transform: uppercase;
    font-weight: bold;
}

.MemberForm input:focus, .MemberForm select:focus {
    border: 1px solid purple;
}

.MemberForm select {
    cursor: pointer;
}